<div class="product__wrapper mb-60">
    <div class="product__thumb">
        <a [routerLink]="['/shop/product-details', product.id]" class="w-img">
            <img [src]="getImageUrl(product.img)" alt="product-img">
            <img class="product__thumb-2" [src]="getImageUrl(product.thumb_img)" alt="product-img">
        </a>
        <div class="product__action transition-3">
            <a (click)="utilsService.handleOpenModal('product-modal-' + product.id, product); utilsService.modalMode = 'wishlist'"
                class="cursor-pointer" [class.active]="isItemInWishlist(product)" data-bs-toggle="modal"
                [attr.data-bs-target]="'#' + utilsService.modalId" data-placement="top" title="Add to Wishlist">
                <i class="fal fa-heart"></i>
            </a>
            <a (click)="addToCompare(product)" class="cursor-pointer" [class.active]="isItemInCompare(product)"
                data-toggle="tooltip" data-placement="top" title="Compare">
                <i class="fal fa-sliders-h"></i>
            </a>
            <!-- Button trigger modal -->
            <a class="cursor-pointer" data-bs-toggle="modal" [attr.data-bs-target]="'#' + utilsService.modalId"
                (click)="utilsService.handleOpenModal('product-modal-' + product.id, product); utilsService.modalMode = 'cart'">
                <i class="fal fa-search"></i>
            </a>
        </div>
        <div *ngIf="product.discount || product.new" class="product__sale">
            <span *ngIf="product.new || product.discount" class="new">new</span>
            <span *ngIf="product.discount" class="percent">-{{ product.discount }}%</span>
        </div>
    </div>
    <div class="product__content p-relative">
        <div class="product__content-inner">
            <h4><a [routerLink]="['/shop/product-details', product.id]" [innerHTML]="product.title"></a></h4>
            <div class="product__price transition-3">
                <span>Rs {{product.price.toFixed(2)}}</span>
                <span *ngIf="product.old_price" class="old-price">Rs {{product.old_price.toFixed(2)}}</span>
            </div>
        </div>
        <div class="add-cart p-absolute transition-3">
            <a *ngIf="!isItemInCart(product)" (click)="addToCart(product); utilsService.modalMode = 'cart'"
                class="cursor-pointer" [attr.data-bs-toggle]="(product.isVariable || openModalAlways) ? 'modal' : null"
                [attr.data-bs-target]="(product.isVariable || openModalAlways) ? '#' + utilsService.modalId : null">
                + Add to Cart
            </a>
            <a *ngIf="isItemInCart(product)" routerLink="/cart" class="cursor-pointer">
                View Cart
            </a>
        </div>
    </div>
</div>