<header>
    <div [ngClass]="header_big ? 'container-fluid' : 'container'" >   
      <div class="row align-items-center"> 
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 p-0">
          <!-- TICKER :: START -->
          <div class="ticker-wrap" *ngIf="announcementBarItems.length > 0">
            <div class="ticker">
              <span *ngFor="let item of announcementBarItems">{{ item.title }} {{ item.subtitle }}</span>
            </div>
          </div>
          <!-- TICKER :: END -->          
        </div>       
      </div>   
      <div class="row align-items-center">
        <div *ngIf="header_big" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
          <div class="header__action header__action-2 f-left">
            <ul>
              <li>
                <a (click)="utilsService.handleSearchOpen()" class="search-toggle cursor-pointer">
                  <i class="ion-ios-search-strong"></i> Search
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div [ngClass]="header_big ? 'col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4' : 'col-xl-4 col-lg-4 col-md-4 col-sm-4'">
          <div class="logo">
            <a routerLink="/home">
              <img class="brand-logo m-auto" [src]="logoPath" alt="logo" (error)="onLogoError($event)">
            </a>
          </div>
        </div>
        <div *ngIf="header_big" class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
          <div class="header__action header__action-2 f-right">
            <ul>
              <li [class.cart-active]="cartService.isCartOpen">
                <a (click)="cartService.handleOpenCartSidebar()" class="cart cursor-pointer"><i class="ion-bag"></i>
                  Cart
                  <span>({{cartService.totalPriceQuantity().quantity}})</span>
                </a>
                <!-- mini cart start -->
                <app-mini-cart></app-mini-cart>
                <!-- mini cart end -->
              </li>
              <li class="d-none d-lg-inline-block"> <a class="cursor-pointer"><i class="far fa-bars"></i></a>
                <!-- extra info start -->
                <app-extra-info></app-extra-info>
                <!-- extra info end -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
      <!-- NAVIGATION BAR -->        
      <div id="header-sticky"
        [ngClass]="['header__area border-top-bottom-gray', transparent ? '' : '', header_big ? '' : !white_bg ? 'grey-bg' : '', sticky ? 'sticky' : '']"
        id="header-sticky">
          <div [ngClass]="header_big ? 'container-fluid' : 'container'" >   
            <div class="row align-items-center">
              
              <div
                [ngClass]="header_big ? 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12' : 'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'">
                <div class="header__right p-relative m-auto"
                  [ngClass]="{'d-flex justify-content-between align-items-center m-auto': !header_big}">
                  <div
                    [ngClass]="{'main-menu': true, 'main-menu-2': header_big, 'text-center': header_big, 'd-none d-lg-block m-auto': true}">
                    <!-- nav menu start -->
                    <app-nav-manus></app-nav-manus>
                    <!-- nav menu end -->
                  </div>
                  <div class="mobile-menu-btn d-lg-none f-right">
                    <a (click)="utilsService.handleOpenMobileMenu()" class="mobile-menu-toggle cursor-pointer">
                      <i class="fal fa-bars"></i>
                    </a>
                  </div>
                  <div *ngIf="!header_big" class="header__action">
                    <ul>
                      <li>
                        <a (click)="utilsService.handleSearchOpen()" class="search-toggle cursor-pointer">
                          <i class="ion-ios-search-strong"></i> Search
                        </a>
                      </li>
                      <li [class.cart-active]="cartService.isCartOpen">
                        <a (click)="cartService.handleOpenCartSidebar()" class="cart cursor-pointer">
                          <i class="ion-bag"></i> Cart <span>({{cartService.totalPriceQuantity().quantity}})</span>
                        </a>
                        <!-- mini cart start -->
                        <app-mini-cart></app-mini-cart>
                        <!-- mini cart end -->
                      </li>
                      <li class="d-none d-lg-inline-block"> <a class="cursor-pointer"><i class="fal fa-bars"></i></a>
                        <!-- extra info start -->
                        <app-extra-info></app-extra-info>
                        <!-- extra info end -->
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              
            </div>
          </div>   
        </div>   
      <!-- NAVIGATION BAR --> 
</header>

<!-- search popup start -->
<app-search-popup></app-search-popup>
<!-- search popup end -->

<!-- mobile offcanvas start -->
<app-offcanvas></app-offcanvas>
<!-- mobile offcanvas end -->