<!-- header start -->
<app-header-one [transparent]="true"></app-header-one>
<!-- header end -->

<main>

  <!-- breadcrumb start -->
  <app-dynamic-page-title title="Contact Us" subtitle="Contact" sectionName="Product Banner" fallbackBg="/assets/img/page-title/page-title-2.png"></app-dynamic-page-title>
  <!-- breadcrumb end -->

  <!-- contact area start -->
  <section class="contact__area pb-100 pt-95">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6">
                  <div class="contact__info">
                      <h2 *ngIf="storeName" class="store-name-heading mb-30">{{storeName}}</h2>
                      <h3>Find us here.</h3>
                      <ul class="mb-55">
                          <li class="d-flex mb-35">
                              <div class="contact__info-icon mr-20">
                                  <i class="fal fa-map-marker-alt"></i>
                              </div>
                              <div class="contact__info-content">
                                  <h6>Address:</h6>
                                  <span>{{contactAddress}}</span>
                              </div>
                          </li>
                          <li class="d-flex mb-35">
                              <div class="contact__info-icon mr-20">
                                  <i class="fal fa-envelope-open-text"></i>
                              </div>
                              <div class="contact__info-content">
                                  <h6>Email:</h6>
                                  <span>{{contactEmail}}</span>
                              </div>
                          </li>
                          <li class="d-flex mb-35">
                              <div class="contact__info-icon mr-20">
                                  <i class="fal fa-phone-alt"></i>
                              </div>
                              <div class="contact__info-content">
                                  <h6>Number Phone:</h6>
                                  <span>{{contactPhone}}</span>
                              </div>
                          </li>
                      </ul>
                      <p>Outstock is a premium Templates theme with advanced admin module. It’s extremely customizable, easy to use and fully responsive and retina ready. Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

                      <div class="contact__social">
                          <ul>
                              <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fab fa-behance"></i></a></li>
                              <li><a href="#"><i class="fas fa-share-alt"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6">
                  <div class="contact__form">
                      <h3>Contact Us.</h3>
                      <!-- contact form start -->
                      <app-contact-form></app-contact-form>
                      <!-- contact form end -->
                      <p class="ajax-response"></p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- contact area end -->

  <!-- contact map area start -->
  <section class="contact__map">
      <div class="container-fluid p-0">
          <div class="row g-0">
              <div class="col-xl-12">
                  <div class="contact__map-wrapper p-relative">
                      <iframe src="https://maps.google.com/maps?hl=en&amp;q=Karachi,+Pakistan&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- contact map area end -->

  <!-- subscribe area start -->
  <app-subscribe-area></app-subscribe-area>
  <!-- subscribe area end -->

</main>

<!-- footer start -->
<app-footer-one></app-footer-one>
<!-- footer end -->
