<!-- header start -->
<app-header-one [header_big]="true"></app-header-one>
<!-- header end -->

<main>
  <!-- <div class="box-25"> -->

  <!--hero slider area start -->
  <app-hero-slider-two></app-hero-slider-two>
  <!--hero slider area end -->

  <!-- product area start -->
  <section class="product__area pt-60 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section__title-wrapper text-center mb-55">
            <div class="section__title mb-10">
              <h2>Trending Products</h2>
            </div>
            <div class="section__sub-title">
              <p>Discover our most popular and trending products!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="product__banner p-relative">
        <div class="product__banner-inner p-absolute fix d-none d-lg-block">
          <div class="product__banner-img fix">
            <!-- External URL -->
            <ng-container *ngIf="bannerData && isExternalUrl(bannerData.redirectUrl)">
              <a [attr.href]="bannerData.redirectUrl" target="_blank" rel="noopener noreferrer">
                <img [src]="getBannerImageUrl()" alt="product-banner">
              </a>
            </ng-container>
            <!-- Internal route or default -->
            <ng-container *ngIf="!bannerData || !isExternalUrl(bannerData?.redirectUrl)">
              <a *ngIf="bannerData && hasValidRedirectUrl()" [routerLink]="getBannerLink()">
                <img [src]="getBannerImageUrl()" alt="product-banner">
              </a>
              <div *ngIf="!bannerData || !hasValidRedirectUrl()">
                <img [src]="getBannerImageUrl()" alt="product-banner">
              </div>
            </ng-container>
          </div>
          <div class="product__banner-content p-absolute" *ngIf="getBannerTitle()">
            <h4>
              <!-- External URL -->
              <ng-container *ngIf="bannerData && isExternalUrl(bannerData.redirectUrl)">
                <a [attr.href]="bannerData.redirectUrl" target="_blank" rel="noopener noreferrer">
                  <span [innerHTML]="getBannerTitle()"></span>
                </a>
              </ng-container>
              <!-- Internal route -->
              <ng-container *ngIf="!bannerData || !isExternalUrl(bannerData?.redirectUrl)">
                <a *ngIf="bannerData && hasValidRedirectUrl()" [routerLink]="getBannerLink()">
                  <span [innerHTML]="getBannerTitle()"></span>
                </a>
                <span *ngIf="!bannerData || !hasValidRedirectUrl()" [innerHTML]="getBannerTitle()"></span>
              </ng-container>
            </h4>
            <!-- External URL button -->
            <ng-container *ngIf="bannerData && isExternalUrl(bannerData.redirectUrl)">
              <a [attr.href]="bannerData.redirectUrl" class="link-btn" target="_blank" rel="noopener noreferrer">
                discover now
              </a>
            </ng-container>
            <!-- Internal route button -->
            <ng-container *ngIf="bannerData && !isExternalUrl(bannerData.redirectUrl)">
              <a *ngIf="hasValidRedirectUrl()" [routerLink]="getBannerLink()" class="link-btn">
                discover now
              </a>
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 offset-xl-6 col-lg-6 offset-lg-6">
            <div class="product__slider-2">
              <div class="row">
                <div *ngFor="let item of trending_products; let i = index" class="col-lg-4 col-md-6 product__item">
                  <app-product-item [product]="item" [openModalAlways]="true"></app-product-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- product area end -->

  <div class="container">
    <!-- shop category start -->
    <app-shop-category [style_2]="true"></app-shop-category>
    <!-- shop category end -->
  </div>
  

  <!-- sale off area start -->
  <section class="sale__area pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section__title-wrapper text-center mb-55">
            <div class="section__title mb-10">
              <h2>Sale Off</h2>
            </div>
            <div class="section__sub-title">
              <p>Check out our amazing deals and special offers!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sale__area-slider-2">
        <div class="row">
          <div *ngFor="let item of discount_products" class="col-xl-2 col-lg-3 col-md-4 col-6 sale__item">
            <app-product-item [product]="item"></app-product-item>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- sale off area end -->

  <!-- blog area start -->
  <!-- <section class="blog__area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section__title-wrapper text-center mb-55">
                        <div class="section__title mb-10">
                            <h2>Our Blog Posts</h2>
                        </div>
                        <div class="section__sub-title">
                            <p>Mirum est notare quam littera gothica quam nunc putamus parum claram!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <app-blog-slider></app-blog-slider>
                </div>
            </div>
        </div>
    </section> -->
  <!-- blog area end -->

  <!-- client slider area start -->
  <!-- <section class="client__area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                  <div class="pt-80 pb-80 border-top-1">
                    <app-client-slider></app-client-slider>
                  </div>
                </div>
            </div>
        </div>
    </section> -->
  <!-- client slider area end -->

  <!-- subscribe area start -->
  <app-subscribe-area [style_2]="true"></app-subscribe-area>
  <!-- subscribe area end -->
  <!-- </div> -->
</main>

<!-- footer start -->
<app-footer-one [box_style]="true" />
<!-- footer end -->