<!-- header start -->
<app-header-one [transparent]="true" [white_bg]="true"></app-header-one>
<!-- header end -->

<main>

  <!-- breadcrumb start -->
  <app-breadcrumb-one title="Cart" subtitle="Cart"></app-breadcrumb-one>
  <!-- breadcrumb end -->

  <!-- Cart Area Strat-->
  <section class="cart-area pt-100 pb-100">
    <div class="container">
      <div *ngIf="cartService.getCartProducts().length === 0" class="text-center pt-50">
        <h3>No Cart Items Found</h3>
        <a routerLink="/shop" class="os-btn os-btn-black">Continue Shopping</a>
      </div>

      <div *ngIf="cartService.getCartProducts().length > 0" class="row">
        <div class="col-12">
          <div class="table-content table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Images</th>
                  <th class="cart-product-name">Product</th>
                  <th class="product-price">Unit Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-discount">Discount</th>
                  <th class="product-subtotal">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of cartService.getCartProducts()">
                  <td class="product-thumbnail">
                    <a [routerLink]="['/shop/product-details', item.id]">
                      <img [src]="item.img" alt="product-img">
                    </a>
                  </td>
                  <td class="product-name">
                    <a [routerLink]="['/shop/product-details', item.id]">{{item.title}}</a>
                    <div *ngIf="hasAttributes(item)" class="cart-page-attributes">
                      <span *ngFor="let attrEntry of getAttributeEntries(item)" class="cart-attribute-item">
                        <span class="attribute-name">{{attrEntry.name}}:</span>
                        <span class="attribute-value">{{attrEntry.value}}</span>
                      </span>
                    </div>
                  </td>
                  <td class="product-price"><span class="amount">Rs {{item.price.toFixed(2)}}</span></td>
                  <td class="product-quantity">
                    <div class="cart-plus-minus">
                      <input type="text" [value]="item.orderQuantity" readonly />
                      <div (click)="cartService.quantityDecrement(item)" class="dec qtybutton">-</div>
                      <div (click)="cartService.addCartProduct(item, undefined, false)" class="inc qtybutton">+</div>
                    </div>
                  </td>
                  <td class="product-discount">
                    <span class="amount">Rs {{getItemDiscount(item).toFixed(2)}}</span>
                  </td>
                  <td class="product-subtotal">
                    <span class="amount">
                      Rs {{(getItemPrice(item) * item.orderQuantity!).toFixed(2)}}
                    </span>
                  </td>
                  <td class="product-remove">
                    <a (click)="cartService.removeCartProduct(item)" class="cursor-pointer">
                      <i class="fa fa-times"></i>
                    </a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="coupon-all">
                <form (ngSubmit)="handleCouponSubmit()">
                  <div class="coupon">
                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code"
                      type="text">
                    <button class="os-btn os-btn-black" name="apply_coupon" type="submit">
                      Apply coupon
                    </button>
                  </div>
                </form>
                <div class="coupon2">
                  <button (click)="cartService.clear_cart()" class="os-btn os-btn-black" name="update_cart"
                    type="submit">
                    Clear cart
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="cart-page-total">
                <h2>Cart totals</h2>
                <ul class="mb-20">
                  <li>Subtotal <span>Rs {{(cartService.totalPriceQuantity().total +
                      cartService.totalDiscount()).toFixed(2)}}</span>
                  </li>
                  <li>Discount <span>-Rs {{cartService.totalDiscount().toFixed(2)}}</span></li>
                  <li>Net Total <span>Rs {{cartService.totalPriceQuantity().total.toFixed(2)}}</span></li>
                </ul>
                <a class="os-btn" routerLink="/checkout">Proceed to checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cart Area End-->
</main>

<!-- footer start -->
<app-footer-one></app-footer-one>
<!-- footer end -->