<div class="mini-cart" [class.cart-open]="cartService.isCartOpen">
  <div *ngIf="cartService.getCartProducts().length === 0">
    <h5>Your cart is empty</h5>
  </div>
  <div *ngIf="cartService.getCartProducts().length > 0" class="mini-cart-inner">
    <ul
      [ngClass]="['mini-cart-list', cartService.getCartProducts().length === 1 ? 'slider-height_1' :  cartService.getCartProducts().length === 2 ? 'slider-height_2' : 'slider-height']">
      <li *ngFor="let item of cartService.getCartProducts()">
        <div class="cart-img f-left">
          <a [routerLink]="['/shop/product-details', item.id]">
            <img [src]="item.img" alt="cart-img" />
          </a>
        </div>
        <div class="cart-content f-left text-left">
          <h5>
            <a [routerLink]="['/shop/product-details', item.id]">{{item.title}}</a>
          </h5>
          <div *ngIf="hasAttributes(item)" class="cart-attributes mb-5">
            <div *ngFor="let attrEntry of getAttributeEntries(item)" class="cart-attribute-item">
              <span class="attribute-name">{{attrEntry.name}}:</span>
              <span class="attribute-value">{{attrEntry.value}}</span>
            </div>
          </div>
          <div class="cart-price">
            <span class="ammount">{{item.orderQuantity}} <i class="fal fa-times"></i></span>
            <span class="price">Rs {{getItemPrice(item).toFixed(2)}}</span>
          </div>
        </div>
        <div class="del-icon f-right mt-30">
          <a (click)="cartService.removeCartProduct(item)" class="cursor-pointer">
            <i class="fal fa-times"></i>
          </a>
        </div>
      </li>
    </ul>
    <div class="total-price d-flex justify-content-between mb-30">
      <span>Subtotal:</span>
      <span>Rs {{(cartService.totalPriceQuantity().total).toFixed(2)}}</span>
    </div>
    <div class="checkout-link">
      <a routerLink="/cart" class="os-btn">view Cart</a>
      <a class="os-btn os-btn-black" routerLink="/checkout">Checkout</a>
    </div>
  </div>
</div>