<!-- header start -->
<app-header-one [transparent]="true" [white_bg]="true"></app-header-one>
<!-- header end -->

<main>

  <!-- breadcrumb start -->
  <app-dynamic-page-title 
    title="Product Details" 
    subtitle="Product Details" 
    sectionName="Product Banner" 
    [useFallbackOnly]="false">
  </app-dynamic-page-title>
  <!-- breadcrumb end -->

  <!-- shop details area start -->
  <app-product-details-area [product]="product"></app-product-details-area>
  <!-- shop details area end -->

  <!-- related products start -->
  <app-related-products [brand]="product?.brand" [productId]="product?.id"></app-related-products>
  <!-- related products end -->
</main>

<!-- footer start -->
<app-footer-one></app-footer-one>
<!-- footer end -->
