<div class="modal fade" [id]="utilsService.modalId" tabindex="-1" [attr.aria-labelledby]="utilsService.modalId"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered product-modal" role="document">
    <div class="modal-content">
      <div class="product__modal-wrapper p-relative">
        <!-- Modal Loader -->
        <app-loader-modal></app-loader-modal>

        <div class="product__modal-close p-absolute">
          <button [attr.data-bs-toggle]="'modal'" [attr.data-bs-target]="'#' + utilsService.modalId">
            <i class="fal fa-times"></i>
          </button>
        </div>
        <div class="product__modal-inner" *ngIf="utilsService.product">
          <app-product-details-upper [bottomShow]="false" [style_2]="true" [product]="utilsService.product"
            [modalMode]="utilsService.modalMode"></app-product-details-upper>
        </div>
      </div>
    </div>
  </div>
</div>