<section class="footer__area bg-dark-black">
  <div class="footer__top pt-60 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-title">
              <h5>Quick Links</h5>
            </div>
            <div class="footer__widget-content">
              <div class="footer__links">
                <ul>
                  <li><a routerLink="/about">About Us</a></li>
                  <li><a routerLink="/contact">Help & Contact Us</a></li>
                  <li><a routerLink="/wishlist">Wishlist</a></li>
                  <li><a routerLink="/order-track">Track Order</a></li>
                  <li><a routerLink="/login">Login</a></li>
                  <li><a routerLink="/shipping-policy">Shipping Policy</a></li>
                  <li><a routerLink="/return-refund">Returns & Refunds</a></li>
                  <li><a routerLink="/terms">Terms & Conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
          <div class="footer__widget mb-30">
            <div class="footer__widget-content text-center">
              <a routerLink="/home/home-style-1">
                <img [src]="logoUrl" alt="logo">
              </a>
              <!-- <p *ngIf="storeName">{{storeName}}</p> -->
              <!-- <p *ngIf="!storeName"></p> -->
              <p>{{companyDescription}}</p>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-12">
          <div class="footer__widget mb-30 text-center">
            <div class="footer__widget-title mb-25">
              <h5>Get In touch</h5>
            </div>
            <div class="footer__widget-content">
              <span class="help-link">
                <i class="cal-icon"><img class="img-fluid animated infinite tada"
                    src="./assets/img/headphones-2.webp" /></i>
                <span class="help-txt">
                  <p>Need Help?</p>
                  <a [href]="'tel:' + contactPhone">{{contactPhone}}</a>
                </span>
              </span>
              <div class="footer__contact mt-4">
                <ul>
                  <li>
                    <div class="icon">
                      <i class="fal fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                      <span>{{contactAddress}}</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fal fa-envelope-open-text"></i>
                    </div>
                    <div class="text">
                      <span>{{contactEmail}}</span>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fal fa-phone-alt"></i>
                    </div>
                    <div class="text">
                      <span>Phone Number: {{contactPhone}}</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-7">
          <div class="footer__copyright">
            <p>Copyright © <a href="https://dcodics.io/" target="_blank" rel="noopener noreferrer">DCodics</a> all
              rights reserved. / Visitor Count: {{visitorCount}}</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-5">
          <div class="footer__social f-right">
            <app-social-media-icons></app-social-media-icons>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>