.features__area {
    background-color: #121212;
}

.features__item {
    padding: 20px 0;

    @media (max-width: 991px) {
        border-right: 0 !important;
        justify-content: flex-start !important;
        margin-bottom: 20px;
        padding-left: 15px;
    }

    &.border-right-1 {
        border-right: 1px solid #333333;
    }
}

.features__icon {
    i {
        font-size: 30px;
        color: #ffc959;
    }
}

.features__content {
    h6 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 2px;
        text-transform: capitalize;
        color: #ffffff;
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
        line-height: 1.2;
        color: #adb5bd;
    }
}

.border-bottom-1 {
    border-bottom: 1px solid #333333;
}