<header>
  <div id="header-sticky" class="header__area header__transparent box-25" [class.sticky]="sticky">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-6 col-lg-6">
          <div class="main-menu d-none d-lg-block p-relative">
            <!-- nav menu start -->
            <app-nav-manus></app-nav-manus>
            <!-- nav menu end -->
          </div>
        </div>
        <div class="col-xl-3 col-lg-2 col-md-4 col-sm-4">
          <div class="logo">
            <a routerLink="/home">
              <img src="" alt="logo" />
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-8 col-sm-8">
          <div
            class="header__right p-relative d-flex justify-content-between justify-content-sm-end align-items-center">
            <div class="mobile-menu-btn d-lg-none">
              <a (click)="utilsService.handleOpenMobileMenu()" class="mobile-menu-toggle cursor-pointer">
                <i class="fas fa-bars"></i>
              </a>
            </div>
            <div class="header__action">
              <ul>
                <li>
                  <a (click)="utilsService.handleSearchOpen()" class="search-toggle cursor-pointer">
                    <i class="ion-ios-search-strong"></i> Search
                  </a>
                </li>
                <li [class.cart-active]="cartService.isCartOpen">
                  <a (click)="cartService.handleOpenCartSidebar()" class="cursor-pointer cart">
                    <i class="ion-bag"></i> Cart <span>({{cartService.totalPriceQuantity().quantity}})</span>
                  </a>
                  <!-- mini cart start -->
                  <app-mini-cart></app-mini-cart>
                  <!-- mini cart end -->
                </li>
                <li>
                  <a class="cursor-pointer"><i class="far fa-bars"></i></a>
                  <!-- extra info start -->
                  <app-extra-info></app-extra-info>
                  <!-- extra info end -->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- search popup start -->
<app-search-popup></app-search-popup>
<!-- search popup end -->

<!-- mobile offcanvas start -->
<app-offcanvas></app-offcanvas>
<!-- mobile offcanvas end -->